<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="div_flex">
        <a href="/">Back To Home Page</a>
        <h1>User Details</h1>
        <ul>
            <% users.forEach(user => { %>
                <li><%= user.name %> is <%= user.age %> years old.</li>
            <% }) %>
        </ul>
    </div>
</body>
</html>